openapi: 3.2.0
info:
  version: 1.0.0
  title: HMDA Platform Filing Institutions API
  description: Enables financial institutions to submit Home Mortgage Disclosure Act (HMDA) data programmatically to the FFIEC HMDA Platform. Provides endpoints for filing submissions, uploading loan application register (LAR) files, checking submission status, and retrieving edit reports for regulatory compliance.
  contact:
    name: FFIEC HMDA Help
    url: https://ffiec.cfpb.gov/
  license:
    name: Creative Commons CC0
    url: https://creativecommons.org/publicdomain/zero/1.0/
servers:
- url: https://ffiec.cfpb.gov
  description: Production server
security:
- bearerAuth: []
tags:
- name: Institutions
  description: Financial institution information
paths:
  /institutions/{lei}:
    get:
      tags:
      - Institutions
      summary: Get institution by LEI
      description: Returns institution details and list of filings for the given Legal Entity Identifier
      parameters:
      - $ref: '#/components/parameters/lei'
      responses:
        '200':
          description: Institution details with filings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Institution'
        '404':
          description: Institution not found
components:
  schemas:
    FilingStatus:
      type: object
      properties:
        code:
          type: integer
          description: Status code
        message:
          type: string
          description: Status message
    Institution:
      type: object
      properties:
        lei:
          type: string
          description: Legal Entity Identifier
        agencyCode:
          type: integer
          description: Agency code
        activityYear:
          type: integer
          description: Activity year
        institutionType:
          type: integer
          description: Institution type code
        hmdaFiler:
          type: boolean
          description: Whether institution is a HMDA filer
        respondentName:
          type: string
          description: Name of the responding institution
        filings:
          type: array
          items:
            $ref: '#/components/schemas/FilingSummary'
    FilingSummary:
      type: object
      properties:
        period:
          type: string
          description: Filing period year
        lei:
          type: string
          description: Legal Entity Identifier
        status:
          $ref: '#/components/schemas/FilingStatus'
  parameters:
    lei:
      name: lei
      in: path
      required: true
      description: Legal Entity Identifier of the financial institution
      schema:
        type: string
        example: B90YWS6AFX2LGWOXJ1LD
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
