openapi: 3.2.0
info:
  version: 2.0.0
  title: HMDA Data Browser Filers API
  description: Provides access to Home Mortgage Disclosure Act (HMDA) data, enabling aggregation reports and CSV downloads of mortgage lending records filtered by geography, financial institution LEI, and year.
  contact:
    name: FFIEC HMDA Help
    url: https://ffiec.cfpb.gov/
  license:
    name: Creative Commons CC0
    url: https://creativecommons.org/publicdomain/zero/1.0/
servers:
- url: https://ffiec.cfpb.gov/v2/data-browser-api
  description: Production server
security: []
tags:
- name: Filers
  description: HMDA filing institution information
paths:
  /view/filers:
    get:
      tags:
      - Filers
      summary: List HMDA filers
      description: Returns a list of financial institutions that filed HMDA data for the specified year(s) and geography or LEI filters.
      parameters:
      - $ref: '#/components/parameters/years'
      - $ref: '#/components/parameters/states'
      - $ref: '#/components/parameters/counties'
      - $ref: '#/components/parameters/msamds'
      - $ref: '#/components/parameters/leis'
      responses:
        '200':
          description: List of HMDA filers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilersResult'
        '400':
          description: Bad request - invalid parameters
components:
  parameters:
    counties:
      name: counties
      in: query
      description: Comma-separated list of 5-digit FIPS county codes
      schema:
        type: string
    leis:
      name: leis
      in: query
      description: Comma-separated list of Legal Entity Identifiers (LEI) for financial institutions
      schema:
        type: string
    states:
      name: states
      in: query
      description: Comma-separated list of two-letter state abbreviations (e.g. CA,TX)
      schema:
        type: string
    msamds:
      name: msamds
      in: query
      description: Comma-separated list of 5-digit MSA/MD codes
      schema:
        type: string
    years:
      name: years
      in: query
      required: true
      description: Comma-separated list of years (e.g. 2018,2019,2020)
      schema:
        type: string
        example: '2020'
  schemas:
    FilersResult:
      type: object
      properties:
        institutions:
          type: array
          items:
            $ref: '#/components/schemas/Institution'
    Institution:
      type: object
      properties:
        lei:
          type: string
          description: Legal Entity Identifier
        name:
          type: string
          description: Institution name
        period:
          type: string
          description: Filing period year
